.App {
}

.MContainer{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

body {
  background-color: #43A048;
  height: 1000px;
}

.Pound {
  background-color: #1f5768;
  display: flex;
  width: 350px;
  height: 300px;
  padding: 1em;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.title {
  font-family: "Fredoka One", cursive;
  color: #D9ECDA;
}

.text {
  color:white;
  width: 600px;
  text-align: justify;
  font-size: 15px;
}

.lineNumber{
  background-color: #999999;
  width: 35px;
  padding: 10px 6px;
  text-align: right;
  font-size: 18px;
  line-height: 1.5;
}

.lineNumber p {
  color: #D5D5D5;
  font-family:'Source Code Pro', monospace;
}

.editor {
  display: flex;
  flex-direction: row;
}